@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

.profilePic {
  clip-path: ellipse(49% 47% at 50% 51%);
}

.projectDes {
  text-align: justify;
}

.expDes {
  text-align: justify;
}

.heroDes {
  text-align: justify;
}


.clip-hexagon {
  clip-path: polygon(
    50% 0%, 83% 12%,
    100% 43%, 94% 78%, 
    68% 100%, 32% 100%, 6% 78%, 
    0% 43%, 17% 12%
  );
}
